<div class="wallet-container">
  <div class="wallet-content">
    <div class="wallet-accounts">
      <div class="wallet-account" *ngFor="let wallet of walletsData">
        <div class="account-info">
          <div class="account-name">{{ wallet.name }}</div>
          <div class="account-balance">{{ wallet.amount }}</div>
        </div>
        <div class="account-actions">
          <button class="action-button">
            <i class="fas fa-exchange-alt"></i>
            Transferir
          </button>
        </div>
      </div>
    </div>
    <div class="wallet-actions">
      <button class="action-button" (click)="openModal()">
        <i class="fa-solid fa-circle-plus"></i>Nova Conta
      </button>
      <button class="action-button">
        <i class="fa-solid fa-credit-card"></i>Cartões
      </button>
      <button class="action-button">
        <i class="fa-solid fa-file"></i>Extrato
      </button>
    </div>
  </div>
</div>

<app-wallet-modal
  [isVisible]="isModalVisible"
  (close)="closeModal()"
  (addWallet)="onAddWallet($event)"
></app-wallet-modal>
