<div class="wallet-container">
  <div class="wallet-content">
    <div class="wallet-header">Minha Carteira</div>
    <div class="wallet-accounts">
      <div class="wallet-account">
        <div class="account-info">
          <div class="account-name">Conta Principal</div>
          <div class="account-balance">R$ 1.240,00</div>
        </div>
        <div class="account-actions">
          <button class="action-button">
            <i class="fas fa-exchange-alt"></i>
            Transferir
          </button>
        </div>
      </div>
      <div class="wallet-account">
        <div class="account-info">
          <div class="account-name">Conta Poupança</div>
          <div class="account-balance">R$ 10.800,00</div>
        </div>
        <div class="account-actions">
          <button class="action-button">
            <i class="fas fa-exchange-alt"></i>
            Transferir
          </button>
        </div>
      </div>
    </div>
    <div class="wallet-actions">
      <button class="action-button">
        <i class="fa-solid fa-circle-plus"></i>Nova Conta
      </button>
      <button class="action-button">
        <i class="fa-solid fa-credit-card"></i>Cartões
      </button>
      <button class="action-button">
        <i class="fa-solid fa-file"></i>Extrato
      </button>
    </div>
  </div>
</div>
