.header-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 8vh;
}

.header-title {
  display: flex;
  width: 22vw;
  align-items: center;
  justify-content: center;
}

.header-title h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  cursor: pointer;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 90vw;
}

.header-box .header-title-page {
  justify-self: center;
}

.header-content {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.header-content .header-links {
  gap: 3rem;
  list-style: none;
  cursor: pointer;
}

.header-links li:hover {
  transition: 1s ease;
  color: #6366f1;
}

.header-content button {
  background-color: #6366f1;
  color: white;
  border: none;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
