<div class="header-box">
  <div class="header-container">
    <div class="header-content">
      <ul>
        <li class="welcome">{{ title }}</li>
        <li><i class="fa-solid fa-angles-right"></i></li>
        <li class="info-date">{{ date }}</li>
      </ul>
    </div>
    <div class="search-content">
      <ul>
        <li><i class="fa-solid fa-bell"></i></li>
        <li>
          <input type="text" placeholder="Search Here" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
