.expenses-container {
  width: 82vw;
}

.expenses-content {
  display: flex;
  margin: 2rem auto;
  width: 62vw;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.expense-header {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.expense-table {
  width: 60vw;
  border-collapse: collapse;
  margin: 2rem auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.expense-table table {
  width: 60vw;
}

.expense-table th {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  color: #2c3e50;
  border-bottom: 2px solid #eaeaea;
}

.expense-table td {
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  color: #000;
}

.expense-table tr:last-child td {
  border-bottom: none;
}

.expense-table tr:hover {
  background-color: #f5f9ff;
}

.category-badges {
  text-align: center;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  background-color: #e1f5fe;
  color: #0288d1;
  font-size: 0.85rem;
}

.actions-button {
  display: flex;
  gap: 0.2rem;
  width: 2vw;
}

.button-container {
  padding: 0 1rem 1rem;
}

button {
  background-color: #6366f1;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}
