.expenses-container {
  display: flex;
  width: 82vw;
}

.expenses-content {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  width: 62vw;
  flex-direction: column;
  /* background-color: #fefeeb; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

.expense-header {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.expense-table {
  width: 60vw;
  border-collapse: collapse;
  margin: 2rem auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.expense-table th {
  background-color: #000;
  padding: 1rem;
  text-align: left;
  font-weight: 600;
  color: #fefeeb;
  border-bottom: 2px solid #eaeaea;
}

.expense-table td {
  padding: 1rem;
  border-bottom: 1px solid #d4d4d4;
  color: #000;
}

.expense-table tr:last-child td {
  border-bottom: none;
}

.expense-table tr:hover {
  background-color: #f5f9ff;
}

.input-edit input {
  border: 0.2 solid rgba(204, 204, 204, 0.1);
  width: min-content;
}

.category-badges {
  text-align: center;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  background-color: #e1f5fe;
  color: #0288d1;
  font-size: 0.85rem;
}

.actions-button .button-table-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.button-container {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  margin: 0 1.5rem 1rem;
}

button {
  background-color: #299d91;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  cursor: pointer;
}

button:hover {
  background-color: #208178;
  transition: background 1s;
}
