<div class="header-box">
  <div class="header-container">
    <div class="header-content">
      <ul>
        <li class="welcome">{{ title }}</li>
        <li><i class="fa-solid fa-angles-right"></i></li>
        <li class="info-date">{{ date }}</li>
      </ul>
    </div>
    <div class="search-content">
      <ul>
        <div class="input-search">
          <input
            type="text"
            placeholder="Search Here"
            (input)="onSearch($event)"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <li matBadge="{{ notificationsCount() }}" matBadgeColor="warn">
          <i class="fa-solid fa-bell" mat-button [matMenuTriggerFor]="menu"></i>
          <mat-menu #menu="matMenu" class="notification-menu">
            <p
              mat-menu-item
              *ngFor="let notification of notifications"
              (click)="readNotification(notification.id)"
            >
              {{ notification.message }}
            </p>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</div>
