.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
}
