<div class="login-container">
  <div class="login-wrapper">
    <div class="login-image">
      <img src="/img/banner-login.jpg" alt="" width="500px" />
    </div>
    <div class="login-box">
      <div>
        <h2>Saldify</h2>
        <p>Faça login para acessar sua conta</p>
      </div>
      <form class="handleLogin">
        <div>
          <div>
            <label for="email" hidden>Email</label>
            <input
              type="email"
              id="email"
              class="input-field"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div>
            <label for="senha" hidden>Senha</label>
            <input
              type="password"
              id="password"
              class="input-field"
              name="password"
              placeholder="Senha"
              required
            />
          </div>
        </div>
        <div>
          <button type="submit" class="submit-button" (click)="fazerLogin()">
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
